<footer>
 <nav class="round">
   <ul>
         <li><%= link_to "About", "" %></li>
         <li><%= link_to "Contact", "" %></li>
         <li><%= link_to "News", 'http://foodcalc.com/news' %></li>
         <li><%= link_to "Special Promotions", 'http://foodcalc.com/specialpromos' %></li>
       </ul>
 </nav>
 <br \>
 <br \>
 <br \>
 <br \>
 <p span style="font-size: 75%">Copyright&#0169; FoodCalc Inc 2003 - 2011.  All Rights Reserved.  | <a href="http://foodcalc.com/privacy">Privacy</a> | <a href="http://foodcalc.com/terms">Terms & Conditions</a></p>
</footer>