#footer {
	margin:0 auto;
	background: #000 url('images/footer.jpg') repeat-x scroll bottom left;
	padding: 30px 5px 0;
}

.footer-content {
	width: 990px;
	margin: 0 auto;
	display: block;
	padding-bottom: 30px;
}

#footer a {
	color: #EEE;
	text-decoration: underline;
}

#footer h4 {
	color: #EEE;
	font-size: 18px;
	font-weight: normal;
	font-family: 'MuseoSans500', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Sans-Serif;
}

#footer p {
	text-align: left;
	color: #EEE;
	font-size: 12px;
	font-family: 'MuseoSans500', Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

#footer form {
	margin: 0;
	padding: 0;
}

#footer form input#searchbutton {
	margin: 0;
	border-bottom: none;
	overflow:visible;
	width:auto;
}

#footer form input#searchquery {
	background-color: #333;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	border: none;
	padding: 6px 3px;
}

#footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
	border-top: 1px solid #222;
}

#footer ul li {
	padding: 0;
}

#footer ul li a  {
	display: inline-block; /* for IE 6, 7 */
}

#footer ul li a {
	text-decoration: none;
	display: block;
	font-size: 11px;
	padding: 7px 10px;
	border-bottom: 1px solid #222;
}

#footer ul li a:hover {
	background-color: #111;
}

.footer-box {
	width: 220px;
	margin-right: 26px;
	float: left;
}

.end-footer-box {
	margin-right: 0;
}

#footer-links {
	background-color: #000;
	color: #EEE;
	padding: 5px;
	text-align: center;
}
div#footer-links p {
	text-align: right;
	padding: 0;
	margin: 0 auto;
	font-size: 10px;
	width: 960px;
	display: block;
}
#footer-links a {
	color: #DDD;
	font-weight: bold;
}
